__pycache__
CIFAR-10-Corrupted
Pruebas similitud entre muestras/Dos clases a nivel de muestra con CSG correlated.ipynb
Pruebas similitud entre muestras/Dos clases a nivel de muestra con CSG y Mahalanobis.ipynb
Pruebas similitud entre muestras/Dos clases a nivel de muestra con CSG y SSIM.ipynb
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_9_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_8_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_7_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_6_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_5_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_4_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_3_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_2_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_1_train.txt
Prueba de la matriz C (comparativa muestras intra-clase)/similarity_matrix_0_train.txt
